@{
    ViewData["Title"] = "Order Checkout";
}
<h1>@ViewData["Title"]</h1>

<p>Por favor, clique no botão abaixo para confirmar seu pedido.</p>

<input type="button" value="Confirm Order!" class="accept-policy" id="btnSubmit" />
